# Ignore Mac system files
.DS_store

Ignore Python cached files
__pycache__/

# Ignore Visual Studio files
.vscode/

# Ignore subdirectories
c_agent_info_files/
c_agent_neuralnet_models/
c_secret_neuralnet_models/
c_shared_secret_files/

d_agent_info_files/
d_agent_neuralnet_models/
d_secret_neuralnet_models/
d_shared_secret_files/

# Ignore out files
file_out_*.txt

# Ignore error files
file_err_*.txt

